body {
  background: #FFF;
	color: #C1BCD9;
	font-family: "Open Sans", sans-serif;
}

.highlight {
	color: #2E9DD1;
}

a {
	color: #2E9DD1;
}

a:hover, a:active, a:focus {
	color: #39DDE8;
	outline: none;
	text-decoration: none;
}

p {
	padding: 0;
	margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	margin: 0 0 20px 0;
	padding: 0;
}

hr {
	border-top: 1px solid #C1BCD980;
}

/* Back to top button */
.gotoTop {
	position: fixed;
	display: none;
	background: rgba(0, 0, 0, 0.2);
	color: #FFF;
	padding: 6px 12px 9px 12px;
	font-size: 16px;
	border-radius: 2px;
	right: 15px;
	bottom: 15px;
	transition: background 0.5s;
}

@media (max-width: 768px) {
	.gotoTop {
		bottom: 15px;
	}
}

.gotoTop:focus {
	background: rgba(0, 0, 0, 0.2);
	color: #FFF;
	outline: none;
}

.gotoTop:hover {
	background: #39DDE8;
	color: #FFF;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	padding: 30px 0;
	height: 92px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	transition: all 0.5s;
	z-index: 997;
}

#header #logo {
	float: left;
}

#header #logo h1 {
	font-size: 36px;
	margin: 0;
	padding: 6px 0;
	line-height: 1;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	letter-spacing: 3px;
}

#header #logo h1 a, #header #logo h1 a:hover {
	color: #FFF;
	-webkit-transition: color 0.8s ease-in-out 0s;
	transition: color 0.8s ease-in-out 0s;
}

#header #logo img {
	padding: 0;
	margin: 0;
}

@media (max-width: 768px) {
	#header #logo h1 {
		font-size: 25px;
	}

	#header #logo img {
		max-height: 40px;
	}
}

#header.header {
	user-select: none;
	background: #FFFFFFEE;
	padding: 0;
	height: 45px;
	transition: all 0.5s;
}

#header.menuHasChildren {
	color: #FFF;
}

/*--------------------------------------------------------------
# top Section
--------------------------------------------------------------*/
#top {
	width: 100%;
	height: 100vh;
	background-color:  #1E1624;
	position: relative;
}

@media (min-width: 1024px) {
	#top {
		background-attachment: fixed;
	}
}

#top:before {
	content: "";
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

#top .top-container {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

#top h1 {
	margin: 30px 0 10px 0;
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	color: #FFF;
}

@media (max-width: 768px) {
	#top h1 {
		font-size: 28px;
		line-height: 36px;
	}
}

#top h2 {
	color: #eee;
	margin-bottom: 50px;
	font-size: 24px;
}

@media (max-width: 768px) {
	#top h2 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px;
	}
}

#top .viewMyWorkBtn {
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 28px;
	border-radius: 50px;
	transition: 0.5s;
	margin: 10px;
	border: 2px solid #FFF;
	color: #FFF;
}

#top .viewMyWorkBtn:hover {
	background: #C1BCD9;
	border: 2px solid #C1BCD9;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.navBar, .navBar * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.navBar ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}

.navBar li {
	position: relative;
	white-space: nowrap;
}

.navBar>li {
	float: left;
}

.navBar li:hover>ul,
.navBar li.sfHover>ul {
	display: block;
}

.navBar ul ul {
	top: 0;
	left: 100%;
}

.navBar ul li {
	min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
	padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
	content: "⯆";
  line-height: 0.9;
	position: absolute;
	right: 5px;
	font-style: normal;
	font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
	content: "⯈";
}

/* Nav Meu Container */
#navBarContainer {
	float: right;
	line-height: 1.1;
	margin: 10px 0 0 0;
}

@media (max-width: 768px) {
	#navBarContainer {
		display: none;
	}
}

/* Nav Meu Styling */
.navBar a {
	padding: 0 8px 4px 8px;
	text-decoration: none;
	display: inline-block;
	color: #FFF;
	font-family: "Verdana", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 20px;
	outline: none;
	-webkit-transition: color 0.8s ease-in-out 0s;
	transition: color 0.8s ease-in-out 0s;
}

.navBar>li {
	margin-left: 10px;
}

.navBar>li>a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.navBar a:hover:before, .navBar li:hover>a:before, .navBar .menuActive>a:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.navBar ul {
	margin: 10px 0 0 0;
	border: 1px solid #2C2338;
}

.navBar ul li {
	background: #FFFFFF;
}

.navBar ul li:first-child {
	border-top: 0;
}

.navBar ul li a {
	padding: 10px;
	color: #fff;
	transition: 0.3s;
	display: block;
	font-size: 15px;
	text-transform: none;
}

.navBar ul li a:hover {
	background: #D68BFF;
	color: #FFF;
}

.navBar ul ul {
	margin: 0;
}

/* Mobile Nav Toggle */
#mobileNavToggle {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
	margin: 20px 20px 0 0;
	border: 0;
	background: none;
	font-size: 24px;
	display: none;
	transition: all 0.4s;
	outline: none;
	cursor: pointer;
}

#mobileNavToggle i {
	color: #000;
}

@media (max-width: 768px) {
	#mobileNavToggle {
		display: inline;
	}
}

/* Mobile Nav Styling */
#mobileNav {
	position: fixed;
	top: 0;
	padding-top: 18px;
	bottom: 0;
	z-index: 998;
	background: #FFFFFFEE;
	left: -260px;
	width: 260px;
	overflow-y: auto;
	transition: 0.4s;
}

#mobileNav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#mobileNav ul li {
	position: relative;
}

#mobileNav ul li a {
	color: #000;
	font-size: 16px;
	overflow: hidden;
	padding: 0px 22px 0px 15px;
 /* Mobile nav bar text height*/
	position: relative;
	text-decoration: none;
	width: 100%;
	display: block;
	outline: none;
}

#mobileNav ul li a:hover {
	color: #FFF;
}

#mobileNav ul li li {
	padding-left: 30px;
}

#mobileNav ul .menuHasChildren i {
	position: absolute;
	right: 0;
	z-index: 99;
	padding: 15px;
	cursor: pointer;
	color: #FFF;
}

#mobileNav ul .menuHasChildren i.fa-chevron-up {
	color: #C1BCD9;
}

#mobileNav ul .menu-item-active {
	color: #C1BCD9;
}

#mobile-body-overly {
	width: 100%;
	height: 100%;
	z-index: 997;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}

/* Mobile Nav body classes */
body.mobileNavActive {
	overflow: hidden;
}

body.mobileNavActive #mobileNav {
	left: 0;
}

body.mobileNavActive #mobileNavToggle {
	color: #FFF;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.sectionHeader .sectionTitle {
	font-size: 32px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	margin-bottom: 5px;
}

.sectionHeader .sectionDesc {
	text-align: center;
	padding-bottom: 40px;
	color: #C1BCD9;
}

/* About Us Section
--------------------------------*/
#about {
	background: #1E1624;
	padding: 80px 0;
}

#about .aboutContainer .background {
	min-height: 854px;
	min-width: 512px;
	background: url(../img/about.png) center top no-repeat;
	margin-bottom: 10px;
}

#about .aboutContainer .content {
	background: #1E1624;
}

#about .aboutContainer .title {
	color: #fff;
	font-weight: 700;
	font-size: 32px;
}

@media (max-width: 768px) {
	#about .aboutContainer .title {
		padding-top: 15px;
	}
}

#about .aboutContainer p {
	line-height: 26px;
}

#about .aboutContainer p:last-child {
	margin-bottom: 0;
}

#about .aboutContainer .iconBox {
	background: #1E1624;
	background-size: cover;
	padding: 0 0 30px 0;
}

#about .aboutContainer .iconBox .icon {
	float: left;
	background: #1E1624;
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	border-radius: 50%;
	border: 2px solid #C1BCD9;
}

#about .aboutContainer .iconBox .icon i {
	color: #C1BCD9;
	font-size: 40px;
}

#about .aboutContainer .iconBox .title {
	margin-left: 80px;
	font-weight: 500;
	margin-bottom: 5px;
	font-size: 18px;
	text-transform: uppercase;
}

#about .aboutContainer .iconBox .title a {
	color: #FFF;
}

#about .aboutContainer .iconBox .description {
	margin-left: 80px;
	line-height: 24px;
	font-size: 14px;
}

/* Facts Section
--------------------------------*/
#gallery {
	background: #1E1624;
	padding: 80px 0 60px 0;
}

#gallery .counters span {
	font-size: 48px;
	display: block;
	color: #C69FD9;
}

#gallery .counters p {
	padding: 0;
	margin: 0 0 20px 0;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
}

/* Services Section
--------------------------------*/
#projects {
	background: #2C2338;
	background-size: cover;
	padding: 80px 0 60px 0;
}

#projects .box {
	padding: 50px 20px;
	margin-bottom: 50px;
	text-align: center;
	border: 1px solid #C1BCD9;
	height: 200px;
	position: relative;
	background: #C69FD9;
}

#projects .icon {
	position: absolute;
	top: -36px;
	left: calc(50% - 36px);
	transition: 0.2s;
	border-radius: 50%;
	border: 6px solid #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	width: 72px;
	height: 72px;
	background: #993151;
}

#projects .icon a {
	display: inline-block;
}

#projects .icon i {
	color: #FFF;
	font-size: 24px;
}

#projects .box {
	color: #000;
}

#projects .box:hover .icon {
	background: #301A54;
	border: 2px solid #FFF;
}

#projects .box:hover .icon i {
	color: #FFF;
}

#projects .box:hover .icon a {
	color: #FFF;
}

#projects .title {
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 15px;
	text-transform: uppercase;
}

#projects .title a {
	color: #111;
}

#projects .description {
	font-size: 14px;
	line-height: 24px;
}

/* Call To Action Section
--------------------------------*/
#bgWindow {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bgWindow.jpg) fixed center center;
	background-size: cover;
	padding: 80px 0;
}

#bgWindow .cta-title {
	color: #FFF;
	font-size: 28px;
	font-weight: 700;
}

#bgWindow .cta-text {
bgWindow}

@media (min-width: 769px) {
	#bgWindow .cta-btn-container {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}

#bgWindow .cta-btn {
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 30px;
	border-radius: 50px;
	transition: 0.5s;
	margin: 10px;
	border: 2px solid #FFF;
	color: #FFF;
}

#bgWindow .cta-btn:hover {
	background: #C1BCD9;
	border: 2px solid #C1BCD9;
}

/* Portfolio Section
--------------------------------*/
#portfolio {
	background: #2C2338;
	padding: 80px 0;
}

#portfolio #portfolio-wrapper {
	padding-right: 15px;
}

#portfolio #portfolioFilters {
	padding: 0;
	margin: 0 0 45px 0;
	list-style: none;
	text-align: center;
}

#portfolio #portfolioFilters li {
	cursor: pointer;
	margin: 0 10px;
	display: inline-block;
	padding: 10px 22px;
	font-size: 12px;
	line-height: 20px;
	color: #666666;
	border-radius: 4px;
	text-transform: uppercase;
	background: #FFF;
	margin-bottom: 5px;
	transition: all 0.3s ease-in-out;
}

#portfolio #portfolioFilters li:hover, #portfolio #portfolioFilters li.filter-active {
	background: #C1BCD9;
	color: #FFF;
}

#portfolio .portfolioItem {
	position: relative;
	height: 200px;
	overflow: hidden !important;
	margin-bottom: 15px;
	transition: all 350ms ease;
	transform: scale(1);
}

#portfolio .portfolioItem a {
	display: block;
	margin-right: 15px;
}

#portfolio .portfolioItem img {
	position: relative;
	top: 0;
	transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#portfolio .portfolioItem .details {
	height: 50px;
	background: #C1BCD9;
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: -50px;
	transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#portfolio .portfolioItem .details h4 {
	font-size: 14px;
	font-weight: 700;
	color: #FFF;
	padding: 8px 0 2px 8px;
	margin: 0;
}

#portfolio .portfolioItem .details span {
	display: block;
	color: #FFF;
	font-size: 13px;
	padding-left: 8px;
}

#portfolio .portfolioItem:hover .details {
	bottom: 0;
}

#portfolio .portfolioItem:hover img {
	top: -30px;
}

/* Commission Section
--------------------------------*/
#commissions {
	background: #1E1624;
	padding: 80px 0 60px 0;
}

/* Contact Section
--------------------------------*/
#contact {
	background: #2C2338;
	padding: 80px 0 40px 0;
}

#contact #google-map {
	height: 300px;
	margin-bottom: 20px;
}

#contact .info {
	color: #FFF;
}

#contact .info i {
	font-size: 32px;
	color: #C1BCD9;
	float: left;
}

#contact .info p {
	padding: 0 0 10px 50px;
	margin-bottom: 20px;
	line-height: 22px;
	font-size: 14px;
}

#contact .info .email p {
	padding-top: 5px;
}

#contact .socialLinks {
	padding-bottom: 20px;
}

#contact .socialLinks a {
	font-size: 18px;
	display: inline-block;
	background: #333;
	color: #FFF;
	line-height: 1;
	padding: 8px 0;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
}

#contact .socialLinks a:hover {
	background: #C1BCD9;
	color: #FFF;
}

#contact .form #sendMessage {
	color: #C1BCD9;
	BORDER: 1PX Solid #C1BCD9;
	display: none;
	text-align: center;
	padding: 15px;
	font-weight: 600;
	margin-bottom: 15px;
}

#contact .form #errorMessage {
	color: red;
	display: none;
	border: 1px solid red;
	text-align: center;
	padding: 15px;
	font-weight: 600;
	margin-bottom: 15px;
}

#contact .form #sendMessage.show, #contact .form #errorMessage.show, #contact .form .show {
	display: block;
}

#contact .form .validation {
	color: red;
	display: none;
	margin: 0 0 20px;
	font-weight: 400;
	font-size: 13px;
}

#contact .form input, #contact .form textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
}

#contact .form button[type="submit"] {
	background: #C1BCD9;
	border: 0;
	padding: 10px 24px;
	color: #FFF;
	transition: 0.4s;
}

#contact .form button[type="submit"]:hover {
	background: #51d8ad;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	background: #FFFFFF;
	padding: 30px 0;
	color: #000;
	font-size: 14px;
}

#footer .copyright {
	text-align: center;
}

#footer .socialLinks {
	padding-bottom: 20px;
	text-align: center;
}

#footer .socialLinks a {
	font-size: 20px;
	display: inline-block;
	background: #000;
	color: #C69FD9;
	line-height: 1;
	padding: 8px 0;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
}

#footer .socialLinks a:hover {
	background: #C69FD9;
	color: #000;
}
